<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" useDefaultCredentials="true" port="0">
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
			<client>
				<wellknown 
					type="TransportDirect.JourneyPlanning.CJP.CJP, td.CJP" 
					url="http://AtkinsRoadNet1/cjp/cjp.rem" />
			</client>
			<client>
				<wellknown type="TransportDirect.UserPortal.JourneyPlannerService.JourneyPlanner, td.userportal.journeyplannerservice" 
					url="http://localhost/TDRemotingHost/JourneyPlannerService.rem" />
			</client> 
			<client>
				<wellknown type="TransportDirect.UserPortal.JourneyPlannerService.JourneyPlannerSynchronous, td.userportal.journeyplannerservice" 
					url="http://localhost/TDRemotingHost/JourneyPlannerSynchronousService.rem" />
			</client> 	
		</application>
	</system.runtime.remoting>
</configuration>