<?xml version="1.0" encoding="utf-8"?>
<policyDocument xmlns="http://schemas.microsoft.com/wse/2003/06/Policy">
  <mappings xmlns:wse="http://schemas.microsoft.com/wse/2003/06/Policy">
    <!--The following policy describes the policy requirements for the service: http://localhost/EnhancedExposedServices/TestWebService.asmx .-->
    <endpoint uri="http://localhost/EnhancedExposedServices/Test/TestWebService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/JourneyPlanner/V1/JourneyPlannerService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/JourneyPlannerSynchronous/V1/JourneyPlannerSynchronousService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/DepartureBoard/V1/DepartureBoardService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/TravelNews/V1/TravelNewsService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/FindNearest/V1/FindNearestService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/codehandler/V1/CodeService.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
    <endpoint uri="http://localhost/EnhancedExposedServices/TaxiInformation/V1/TaxiInformationservice.asmx">
      <defaultOperation>
        <request policy="#Sign-Username" />
        <response policy="" />
        <fault policy="" />
      </defaultOperation>
    </endpoint>
  </mappings>
  <policies xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:wssp="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:wse="http://schemas.microsoft.com/wse/2003/06/Policy" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing">
    <wsp:Policy wsu:Id="Sign-Username">
      <SecurityToken wsp:Usage="wsp:Required" xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext">
        <TokenType>http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken</TokenType>
      </SecurityToken>
    </wsp:Policy>
  </policies>
</policyDocument>