body#section-making-it-happen div#header-2012,
body#section-shop div#header-2012{background-color:#00BB99 !important;}
body#section-home div#header-2012,
body#section-the-games div#header-2012{background-color:#E00094 !important;}
body#section-get-involved div#header-2012,
body#section-visiting div#header-2012{background-color:#FF5500 !important;}
body#section-visiting.travel-planning div#header-2012{background-color:#DF0094 !important;}
body#young-leaders div#header-2012,
body#young-leaders-blog div#header-2012,
body#young-leaders-meet div#header-2012,
body#young-leaders-profile div#header-2012,
body#young-leaders-about div#header-2012{background-color:#0099ff !important;}