<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <modules>
      <add name="HttpRequestValidatorModule" type="AO.HttpRequestValidator.RequestValidatorModule, ao.httprequestvalidator, Version=2.1.0.0, Culture=neutral, PublicKeyToken=a94d451d2bf09f95" />
    </modules>
    <httpRequestValidator switchConnections="false" switchSession="false" switchDomainRedirect="true">
      <monitor durationMinutes="5" />
      <session sessionCookieName="ASP.NET_SessionId" />
      <extensions urlExtensions="aspx" />
      <thresholds hitsMax="500" hitsRepeatOffender="550" timeMillisecondsMin="1000" />
      <response responseStatus="302 Temporary Redirect" errorPageURL="/Web2/SorryPage.aspx" />
      <eventLog eventLogName="Application" eventLogSource="RequestActionValidator" eventLogMachine="." eventLogMessagePrefix="Atos RequestActionValidator" />
      <connections monitorPeriodSeconds="60" connectionsTrigger="30000" connectionsRestore="27000" categoryName="ASP.NET Apps v2.0.50727" counterName="Requests/Sec" instanceName="_LM_W3SVC_1_ROOT_SJPWeb" secondInstanceName="_LM_W3SVC_1_ROOT_SJPMobile" statusFilePath="D:\TDPortal\" statusFileName="RequestConnectionValidatorStatus.xml" />
      <domainRedirects redirectList="http://bbc!http://localhost;http://directgov!http://google.com" includeExtensions="false" />
      <coolDown fileLocation="D:\TDPoral\HttpRequestValidator_CoolDown.txt" reportIntervalSeconds="60" counterName="Requests Executing"/>
      <messageRedirector fileLocation="D:\TDPortal\HttpRequestValidator_MessageRedirector.txt" reportIntervalSeconds="60" counterName="Requests Executing" />
    </httpRequestValidator>
  </system.webServer>
</configuration>
