<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlanRunner.InternationalJourneyPlanRunnerCaller, td.userportal.journeyplanrunner"
					objectUri="InternationalJourneyPlanRunnerCaller.rem" />
			</service>
      <service>
        <wellknown mode="SingleCall" type="TransportDirect.UserPortal.InternationalPlanner.InternationalPlanner, td.userportal.internationalplanner"
					objectUri="internationalplanner.rem" />
      </service>
		</application>
	</system.runtime.remoting>
</configuration>