<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="propertyservice.applicationid" value=""/>
	<add key="propertyservice.groupid" value=""/>
	<add key="propertyservice.providerassembly" value="td.common.propertyservice.filepropertyprovider"/>
	<add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.FilePropertyProvider.FilePropertyProvider"/>
	<add key="propertyservice.providers.fileprovider.filepath" value="http://localhost/TDPWebServices/TransactionWebService/properties.xml"/>
	<add key="DefaultLogFilepath" value="C:\Inetpub\wwwroot\TDPWebServices\TransactionWebService\bin"/>
	<add key="cjpmanager.assembly" value="td.reportdataprovider.transactionwebservice"/>
	<add key="cjpmanager.class" value="TransportDirect.ReportDataProvider.TransactionWebService.MockCJPManager"/>
  </appSettings>
</configuration>
