<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportProperties.connectionstring" value="Data Source=.\SQLExpress;Initial Catalog=ReportProperties;Timeout=30;User id=SJP_User;Password=!password!1" />
    <add key="ReportDatabase.connectionstring" value="Data Source=.\SQLExpress;Initial Catalog=Reporting;Timeout=30;User id=SJP_User;Password=!password!1" />
    <add key="DailyReportService.TimerInterval.Seconds" value="600000" />
  </appSettings>
</configuration>
