<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="propertyservice.providers.fileprovider.filepath" value="D:\TDPortal\Utilities\SiteStatusLoader\SiteStatusLoaderProperties.xml"/>
    <add key="propertyservice.groupid" value="SiteStatus"/>
    <add key="propertyservice.applicationid" value="SiteStatusLoaderMonitor"/>
  </appSettings>
</configuration>
