/* ---------------------------- JOURNEYPLANNER PAGE STYLES -----------------------------*/

/* ---------------------------- INPUT PAGES --------------------------------*/
/* Input boxes */
.boxtypetwo, #boxtypetwo,
.boxtypetwoalt, #boxtypetwoalt,
.mboxtypetwo, #mboxtypetwo,
.boxtypeJEthree, #boxtypeJEthree,
.boxtypelargetwomargintop,
.boxtypetwentyseven, #boxtypetwentyseven,
#panelAdvancedPlanningOptionsPanel #boxtypelargetwo,
#calouter, /* Calender */
#boxtypeten /* Feedback - Another journey input */
{
	background-color: #F4F4F4;
	border:1px solid #999999;
}

/* Input boxes - alternate colour */
.boxtypeten, #boxtypeten, /* Feedback - Another journey input */
.boxtypetwentyeight, #boxtypetwentyeight,
#calouter /* Calender */
{
	background-color: #FFFFFF;
}

.lbouthome, #lbouthome, /* used on Login/Register page */
.lbd, #lbd
{
	background-color: #F4F4F4;
	border: none;
}


/* Text align in input boxes */
.findafromcolumn 
{
	text-align: left;
	padding-left: 8px;
}


#boxtypesixalt  /* Advanced option headings */
{
	background-color:#FFFFFF;
	width: 595px;
	border: none;
	border-bottom: none;
	padding-left: 5px;
}

.boxtypetwo .boxtypesevenalt, /* Visit planner input */
#panelStopover #boxtypetwo .boxtypesevenalt /* Extend journey stopover input*/
{
	width: 585px;
}

.boxtypetwo .boxtypesevenalt table, /* Visit planner input */
#panelStopover #boxtypetwo .boxtypesevenalt table /* Extend journey stopover input */
{
	width: 100%;
}

.boxtypelargetwomargintop /* Adjust journey input */
{
	width: 804px;
}

/* ---------------------------- WARNINGS/ERRORS --------------------------------*/
/* Shown on ambiguity pages */
.alertwarning, #alertwarning 
{
	background-color: #FFFF00;
	border: none;
	font-weight:bold;
	color: #333333;
}
.alertwarning .txtseven /* warning text */
{
	color: #333333;
}

.boxtypeerrormsg, #boxtypeerrormsg
{
	background-color: #FFFFFF;
	font-weight:bold;
	color: #F00;
}

.ErrorDisplayTable, #ErrorDisplayTable,
.ErrorMessageBase, #ErrorMessageBase
{
	border:1px solid #F00;
}

.ErrorMessageBase, #ErrorMessageBase
{
	border-top-width: 0px;
}

/*----------------------------- Wait Page --------------------------------------*/
DIV#tipofday
{
	background-color: #FFFFFF;
	border: solid 1px #999999;
}

/* ---------------------------- RESULT PAGES -----------------------------------*/
/* ---------------------------- Journey Summary --------------------------------*/
/* Journey Results tables */
.outputnavdiv, /* Results table navigation controls, e.g. Summary, Details, ... */
#boxtypeseventeen,
.boxtypeeighteen, /* return journey */
.fscheaderbox,
.fscbodybox,
.fscpanelshow,
.boxtypetwelvetickets,
.boxtypetwelverefine,
.requestvisittable, /* Visit Planner Results */
.boxtypejourneyoverviewcontrol /* City to City Compare Journey results summary */
{
	background-color: #0099FF;
	border:1px solid #999999;
}

.boxtypeten874x768blue, /* visit planner results */
.boxtyperesultsarea /* Visit Planner Results */
{
	background-color: #FFFFFF;
	border:1px solid #999999;
	margin-left: 10px;
}

.requestvisittable /* Visit Planner Results */
{
	margin-left: 5px;
}

#journeyDetailsPanel /* Visit Planner Results */
{
	margin-left: 0px;
}

.jpsumout,
.jpsumoutfinda,
.jpsumrtnfinda
{
	background-color: #FFFFFF;
	border:1px solid #999999;
	padding: 3px;
}

/* Journey Results tables - specific borders */
.outputnavdiv, .jpsumoutfinda, .jpsumrtnfinda, .fscpanelshow {	border-bottom: none; }
#boxtypeseventeen {	border-top: none; }
.jpsumout, .jpsumoutfinda, .jpsumrtnfinda, .fscheaderbox, .fscpanelshow { border-left: none; }
.jpnumbhd, .jptypehd, .jpchanhd, .jpleavhd, .jparrihd, .jpdurahd /* Results table column headings borders */
{
	border-bottom: solid 1px #999999;
}
.jpimgbhd
{
	border-left: solid 1px #999999;
}
.fscbodybox
{
	border: none;
}

/* Journey Results table - Car only journey */
td.fscheader10c, td.fscheader9c, td.fscheader1c, td.fscheader2c, td.fscheader3c, 
td.fscheader4c, td.fscheader5c, td.fscheader6c, td.fscheader7c
{
	border: none;
} 
td.fscheader8c, td.fscbody8c
{
	border-left-color: #999999;
}

/* -------------------- RESULTS TABLES - COLUMNS AND ROWS --------------------*/
/* Results tables - "Select" column */
td.fscheader8, th.fscheader8, /* Results summary - heading */
td.fscbody8, td.fscbody8g, /* Results summary - radios normal and alternative */
.jpimgbhd, .jpimgb, .jpimgbg, /* Results summary - (door to door) */
td.fscheader8c, td.fscbody8c, /* Find car results summary */
.tdstationheaderp, /* Find station summary table - Selected sort column */
td.fscheader8t, td.fscbody8t, td.fscbody8ty, td.fscbody8tg /* Results Table when journey selected from city to city compare */
{
	background-color: #0099FF;
	border-right-color: #0099FF;
	color: #FFFFFF;
}

.ejseleet, .ejpselehd, .ejpsele /* Modify journey results summary*/
{
	background-color: #0099FF;
	border-bottom-color: #0099FF;
}

.jpimgb, .jpimgbg, .jpimgby, /* Results summary table - "Select" column */
.ejpselehd, .ejpsele /* Extend results summary table */
{
	border-left-color: #999999;
}

.ejseleet, .ejpsele, .ejpdura, .ejpdurahd
{
	border-right-color: #999999;
}

/* Results table - Rows - Highlighted */
td.fscbody1y, td.fscbody2y, td.fscbody3y, /* Results summary */
td.fscbody4y, td.fscbody5y, td.fscbody6y, td.fscbody7y,
.fdtcrowy, .eselectRow,
.jpnumby, .jptypey, .jpchany, .jpleavy, .jparriy, .jpduray, .jpimgby, /* Find station summary */
td.fscbody8y, /* Find fare journey results */
.selectRow,  /* Visit Planner results selected row */
td.fscbody1ty, td.fscbody2ty, td.fscbody3ty, td.fscbody4ty, td.fscbody5ty, td.fscbody6ty, td.fscbody7ty, td.fscbody9ty, td.fscbody10ty
{
	background-color: #FFEB00;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rowheader /* Visitplanner results row header*/
{
	background-color: #0099FF;
}

/* Results table - Rows - Normal */
td.fscbody1, td.fscbody2, td.fscbody3, /* Results summary */
td.fscbody4, td.fscbody5, td.fscbody6, td.fscbody7,
.fdtcrowg, /* Tickets/Costs summary */
.jpnumb, .jptype, .jpchan, .jpleav, .jparri, .jpdura, /* Find station summary */
td.focheader1t,td.focheader2t,td.focheader3t, td.focheader4t, /* city to city compare result summary - header*/
td.focbody1t, td.focbody2t, td.focbody3t, td.focbody4t, td.focbody1t_lr, td.focbody2t_lr, td.focbody3t_lr, td.focbody4t_lr, /* city to city compare result summary*/
td.fscheader1t, td.fscheader2t, td.fscheader3t, td.fscheader4t, td.fscheader5t, td.fscheader6t, td.fscheader7t, td.fscheader9t, td.fscheader10t
td.fscbody1t, td.fscbody2t, td.fscbody3t, td.fscbody4t, td.fscbody5t, td.fscbody6t, td.fscbody7t, td.fscbody9t, td.fscbody10t
{
	background-color: #FFFFFF;
	border-bottom: solid 1px #F4F4F4;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Results table - Rows - Alternate */
td.fscbody1g, td.fscbody2g, td.fscbody3g, /* Results summary */
td.fscbody4g, td.fscbody5g, td.fscbody6g, td.fscbody7g,
.fdtcrow, /* Tickets/Costs summary */
.eevenRow, /* Full Itinerary journey */
.jpnumbg, .jptypeg, .jpchang, .jpleavg, .jparrig, .jpdurag, /* Find station summary */
.evenRow, .oddRow, /* Visit Planner results odd and even rows */
td.focbody1tg, td.focbody2tg, td.focbody3tg, td.focbody4tg, td.focbody1tg_lr, td.focbody2tg_lr, td.focbody3tg_lr, td.focbody4tg_lr,   /* city to city compare result summary*/
td.fscbody1tg, td.fscbody2tg, td.fscbody3tg, td.fscbody4tg, td.fscbody5tg, td.fscbody6tg, td.fscbody7tg, td.fscbody9tg, td.fscbody10tg
{
	background-color: #FFFFFF;
	border-bottom: solid 1px #F4F4F4;
	padding-top: 5px;
	padding-bottom: 5px;
}

.fdtcbody1, .fdtcbody2, .fdtcbody3, .fdtcbody4, .fdtcbody5, .fdtcbody6, /* Tickets/Costs summary */
.selectRow td /* Visit Planner results selected row */,
.oddRow td, .evenRow td /* Visit Planner results odd and even rows */
{
	border-bottom: solid 1px #F4F4F4;
}
.fdtcbody7, .fdtcbody8
{
	border-bottom: none;
}
td#focbody4t
{
	border-right: none;
}

/* Outline borders for results sections */
.boxtypetwelve, #boxtypetwelve, /* Journey Details */
table.jdetail2,  /* Journey Details - diagram */
table.jdt, table.jdtgrid, /* Journey Details - table */
.boxtypetwelvetickets, /* Tickets/Costs */
.boxtypelargetwo, /* Full Itinerary journey table */
.boxtypefortyfour, /* Modify Journey Full Itinerary Results */
#boxtypeJEfour, /* Journey Emissions */
#boxtypeJEone,
.boxtypetwelverefine, /* Modify Journey Details */
.dmtitletickets, /* Modify Journey Ticket/Costs table heading */
.boxtypetravelnewsswitch /* Live Travel News - filter table */
{
	background-color: #FFFFFF;
	padding: 0px;
}

/* city to city compare journey sumamry results */
td.focheader4t, td.focbody4tg, td.focbody4t_lr, td.focbody4tg_lr {border-right: 1px solid #666666;}
table.focheader, #overviewOutwardTable, td#focheader1t,td#focheader2t,td#focheader3t, td#focheader4t /* city to city compare result summary - header*/
{ border-bottom: 1px solid #999999;}

td#focheader5t
{
	border-bottom: none;
	color: #FFFFFF;
}

/* --------------------------- Journey Details Tables ------------------------- */
/* Journey Details - table view headings */
th.jdtheader0, th.jdtheader1, th.jdtheader2, th.jdtheader3, th.jdtheader4, th.jdtheader5, th.jdtheader6,
th.jdtheader7, th.jdtheader8, th.jdtheader9, th.jdtheader10, th.jdtheader11, th.jdtheader12,
.emissionheader, .emissionheaderright /* Journey Emissions */
{
	background-color: #F2F1EF;
}

th.jdtheader0, th.jdtheader1, th.jdtheader2, th.jdtheader3, th.jdtheader4, th.jdtheader5, th.jdtheader6,
th.jdtheader7, th.jdtheader8, th.jdtheader9, th.jdtheader10, th.jdtheader11, th.jdtheader12,
td.jdtbody0, td.jdtbody1, td.jdtbody2, td.jdtbody3, td.jdtbody4, td.jdtbody5, td.jdtbody6,
td.jdtbody7, td.jdtbody8, td.jdtbody9, td.jdtbody10, td.jdtbody11, td.jdtbody12
{
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
}

/* Journey Details - Car */
.boxtypetwelve { width: 825px; } /* outer box */
.dmtitle { width: 815px; } /* title */
.boxtypeninenew { width: 815px; } /* tickets/costs */
.boxtypetenfifteen, .boxtypetwentynine { width: 802px; } /* summary/type of car */

.boxtypetenfifteen, .boxtypetwentynine  { background-color: #F4F4F4; }

/* Journey Details - Car - Borders*/
.fmview 
{
	border: none;
}
.boxtypetwelve, #boxtypetwelve, .boxtypetenfifteen, .boxtypetwentynine
{
	border:1px solid #999999;
}

.bluerule /* Journey Details - Car - Directions horizontal rule */
{
	color: #999999;
}

/* ---------------------------- Journey Tickets/Costs --------------------------------*/
/* Journey Details - Tickets/Costs */
.fdtctable, .legTable, .legTableRow, .boxtypeninenew
{
	border:1px solid #999999;
}

.fdtcellheader, .fdtcellcheaper, .fdtcellheaderb
{
	border-bottom:1px solid #999999;
}

/* Rail fare header row cells */
.fdtcellheader, .fdtcellcheaper
{
	background-color: #0099FF;
	color: #FFFFFF;
}

.boxtypetwelve .dmtitle,
.boxtypetwelverefine .dmtitle /* Modify journey details page */
{
	background-color: #0099FF;
	color: #FFFFFF;
}

.boxtypetwelve .carCostsTable
{
	width: 100%;
}

.boxtypetwelvetickets
{
	width: 827px;
}

.dmtitletickets
{
	width: 812px;
}


/* ---------------------------- Journey Emissions --------------------------------*/
/* Journey Emissions */
#boxtypeJEone
{
	border: solid 1px #999999;
}

#boxtypeJEfour
{
	border: solid 1px #999999;
	width: 616px;
}
#boxtypeJEfive
{
	border: none;
	width: 616px;
}

.emissionstable .ecBorderBottomTwo
{
	background-color: #0099FF;
	border-bottom:1px solid #999999;
}

.emissionstable .ecBorderBottomTwo .txtsevenb,
.emissionstable .ecBorderBottomTwo .txtseven
{
	color: #FFFFFF;
}

.emissionheader, .emissionheaderright
{
	background-color: #F4F4F4;
}

.emissionheader, .emissionheaderright,
.emissiondata,
.emissionsJourneyTable,
.journeyEmissionsTableModeTable
{
	border: solid 1px #999999;
}

.emissiondata
{
	background-color: #FFFFFF;
}

/* ---------------------------- Amend Journey Panel --------------------------------*/
/* Amend journey panel on results pages */
.boxtypetwelveamendcontrol
{	
	background-color: #F4F4F4;
	border: solid 1px #999999;
}

/* ---------------------------- Service Details -------------------------------------*/
table.sdTableBeforeAfter
{
	border: solid 1px #999999;
}

tr.sdHeaderBeforeAfter
{
	background-color:#FFEB00;	
}

tr.sdDetailBeforeAfter
{
	background-color: #FFFFFF;
}

table.sdTableleg
{
	border: solid 1px #999999;
}

tr.sdHeaderLeg
{
	background-color:#FFEB00;
}

tr.sdDetailLeg
{
	background-color:#FFFFFF;	
}

th.sdHeaderBeforeAfterCol1,
th.sdHeaderBeforeAfterCol2,
th.sdHeaderBeforeAfterCol3,
td.sdDetailBeforeAfterCol1,
td.sdDetailBeforeAfterCol2,
td.sdDetailBeforeAfterCol3
{
	border: none;
}

th.sdHeaderLegCol1,
th.sdHeaderLegCol2,
th.sdHeaderLegCol3,
td.sdDetailLegCol1,
td.sdDetailLegCol2,
td.sdDetailLegCol3,
td.sdDetailLegColBold1,
td.sdDetailLegColBold2,
td.sdDetailLegColBold3
{
	border: none; 
}

/* ---------------------------- Modify Journey -------------------------------------*/
.boxtypelargetwo, /* Full itinerary */
.RefineTicketsOuterControl, /* Modify journey - Tickets/Costs table */
.boxtypewhitebackground, /* Extend diagram panel */
.boxtypefortytwo, #boxtypefortytwo, /* Extend results table */
#boxtypefortythree, .boxtypefortythree
{	
	border:1px solid #999999;
}

#boxtypefortyfour, .boxtypefortyfour /* Modify journey full itinerary */
{
	border:none;
}

.dmtitletickets, .dmview, #dmview
{
	background-color: #FFFFFF;
	border: none;
}

.boxtypetwentyfive /* Full itinerary heading row */
{
	background-color: #0099FF;
	color: #FFFFFF;
	border:none;
	border-bottom: solid 1px #999999;
	margin: 0px;
	width: 814px;
}
.boxtypetwentyfive .txtseven
{
	color: #FFFFFF;
}

.boxtypetwentysix /* Full itinerary journeys */
{
	border:none;
	margin: 0px;
	width: 824px;
}

.ejdetail /* Full itinerary journeys table */
{
	width: 824px;
}

.ejporighdwide, .ejpdesthdwide, .ejptranhdsuperwide, .ejpleavhd, .ejparrihd, .ejpdurahd, .ejptranhdwide,
.RefineTicketsOuterControlHeading
{
	border-bottom: solid 1px #999999;
}

#boxtypefortythree, .boxtypefortythree, .dmview
{
	border-top:none;
}

.boxtypefortythree .ejdetail
{
	border-right:1px solid #999999;
}

#combinedResultsSummaryPanel .boxtypefortytwo
{
	width: 813px;
}


/* ---------------------------- FIND A FARE - e.g. Find a train cost ------------------*/
.fftdtabletitlebox, /* Select date */
.boxtypetdtheadertitlenodiscount /* Select fare */
{
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	background-color: #F4F4F4;
}


.fftdheaderbox, /* Select date */
.boxtypetdtheadernodiscount /* Select fare */
{
	border: solid 1px #999999;
}

.fftdbodybox, /* Select date */
.boxtypetdtitemsnodiscount /* Select fare */
{
	border-top: 0px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.fftdhdrrow {background-color: #FFFFFF; } /* Select date - Header row */

.fftdbdyrow, /* Select date - normal row */
.tdtitemrow /* Select fare - normal row */
{	
	background-color: #FFFFFF;
} 

.fftdbdyrowg, /* Select date - alternate row */
tdtitemrowalt /* Select fare - alternate row */
{
	background-color: #FFFFFF;
} 

.fftdbdyrowy, /* Select date - highlighted row */
.tdtitemrowyellow /* Select fare - highlighted row */
{
	background-color: #FFEB00;
} 

/* Select fare - columns*/
.tdttypeitem, .tdtflexibilityitem, .tdtfareitem, .tdtprobabilityitem, .tdtselectitem
{
	border-bottom: solid 1px #999999;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Select journey - results table - headers */
td.fscheader10, th.fscheader10, 
td.fscheader9, th.fscheader9, 
td.fscheader1, th.fscheader1, 
td.fscheader2, th.fscheader2, 
td.fscheader3, th.fscheader3, 
td.fscheader4, th.fscheader4, 
td.fscheader5, th.fscheader5, 
td.fscheader6, th.fscheader6,
td.fscheader7, th.fscheader7 
{
	border-bottom: none;
}

/* Select journey - results table - "Select" column */
td.fscbody8, th.fscbody8, td.fscbody8g, td.fscheader8, th.fscheader8, td.fscbody8y
{
	border-left: 1px solid #999999;
}

/* ---------------------------- FIND A CARPARK/STATION RESULTS ------------------------*/
#boxtypestationresults
{
	border: solid 1px #999999;
}

.underlineCarPark, /* Car park results table header */
#stationResultsTable .tdstationheader, /* Find station results table header */
#stationResultsTable .tdstationheaderp 
{
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	background-color: #F4F4F4;
}

td#fscheadercp1p, th#fscheadercp1p, /* Car park results table - selected coloumn sort */
td#fscheadercp2p, th#fscheadercp2p,
td#fscheadercp3p, th#fscheadercp3p,
td#fscheadercp4p, th#fscheadercp4p,
td#fscheadercp5p, th#fscheadercp5p,
td#fscheadercp6p, th#fscheadercp6p,
td#fscheadercp7p, th#fscheadercp7p,
td#fscheadercp8p, th#fscheadercp8p,
td#fscheadercp9p, th#fscheadercp9p,
#stationResultsTable .tdstationheaderp /* Find station results tatble - selected column sort */
{
	background-color: #DF0094; 
	color: #FFFFFF;
}

td#fscbodycp1, th#fscbodycp1,  /* Car park results - normal row */
td#fscbodycp2, th#fscbodycp2, 
td#fscbodycp3, th#fscbodycp3, 
td#fscbodycp4, th#fscbodycp4, 
td#fscbodycp5, th#fscbodycp5, 
td#fscbodycp6, th#fscbodycp6, 
td#fscbodycp7, th#fscbodycp7,
#stationResultsTable .jptype .txtseven, /* Find station results table - normal row */
.stationResultsInfo, .stationResultsSelect
{
	background-color: #FFFFFF;
	border-bottom: solid 1px #F4F4F4;
	padding-top: 5px;
	padding-bottom: 5px;
}

td#fscbodycp1g, th#fscbodycp1g,  /* Car park results - alternate row */
td#fscbodycp2g, th#fscbodycp2g, 
td#fscbodycp3g, th#fscbodycp3g, 
td#fscbodycp4g, th#fscbodycp4g, 
td#fscbodycp5g, th#fscbodycp5g, 
td#fscbodycp6g, th#fscbodycp6g, 
td#fscbodycp7g, th#fscbodycp7g,
#stationResultsTable .jptypeg .txtseven, /* Find station results table - alternate row */
.stationResultsInfo, .stationResultsSelect
{
	background-color: #FFFFFF;
	border-bottom: solid 1px #F4F4F4;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Car park information page */
#hdtypefour 
{
	border: none;
	text-indent: 0px;
}
.carparkInformationAddress, .carparkInformationMinCost, .carparkInformationTimes,
.carparkInformationSpaces, .carparkInformationDisabled, .carparkInformationType,
.carparkInformationRestrictions, .carparkInformationReservations, .carparkInformationNotes,
.carparkInformationParkAndRide
{
	border-bottom: solid 1px #999999;
	padding-bottom: 3px;
}

/* ------------------------------- MAP PAGES -----------------------------------*/

.mboxtypetwonoborder, #mboxtypetwonoborder  /* Map - heading section panel*/
{
	background-color: #F4F4F4;
	border:	solid 1px #999999;
	border-bottom: none;
}

.mapcontrol .mboxtypetwonoborder, #mapcontrol #mboxtypetwonoborder
{
	margin-left: 10px;
}

#mapContainer, /* Map - outline border */
.TDMapLabel, /* Map - zoom level text */
.TDMapLink, .TDMapLinkMouseOver /* Map - legend link */
{
	background-color: #F4F4F4;
	color: #000000;
}

#mapContainer
{
	margin-left: 10px;
}

.panelZoomButtons, /* Zoom panel */
div.mapOverviewBox, div#mapOverviewBox, /* Maps Key panal */
.mapOverviewBox table.traffkey, #panelMapKey table.traffkey,
.findamapbox,
div#findamapbox, /* Map symbols panel */
#boxtypeonem, /* Map incidents symbols panel */
#overviewBox /* Overview map */
{
	background-color: #FFFFFF;
}

.mtbl, /* Map symbols panel - Transport symbols */
.panelKeysOther, /* Map symbols panel - Other symbols */
.panelMapBoxTools, /* Traffic map dates panel */
div#mapbox /* Traffic map key panel */
{
	background-color: #F4F4F4;
}

/* borders */
#mapContainer, #maph,
.panelMapBoxTools, /* Traffic map dates panel */
div#mapbox, /* Traffic map key panel */
#boxtypeonem
{
	border: solid 1px #999999;
}

.MapLocationSelect
{
	margin-left: 6px;
}

/* Overview map box */
.MapLocationSelect .mapOverviewBox, .MapLocationSelect #mapOverviewBox,
.mapOverviewContainer #overviewBox
{
	padding: 0px 0px 0px 0px;
	border: solid 5px #0099FF;
}

/* Overview map box heading */
div.mhd, div#mhd,
div.mhe, div#mhe
{
	background-color: #0099FF;
	color: #FFFFFF;
	width: 100%;
}

/* Map symbols select box */
.MapLocationSelect .findamapbox, .MapLocationSelect #findamapbox
{
	width: 623px;
	padding: 0px 0px 8px 0px;
	border: solid 1px #999999;
	background-color: #F4F4F4;
}

/* Map symbols select box heading */
.MapLocationSelect .findamapbox table, .MapLocationSelect #findamapbox table,
.MapLocationSelect .findamapbox .mheSymbols, .MapLocationSelect #findamapbox #mheSymbols
{
	background-color: #FFEB00;
	padding-top: 3px;
}

.MapLocationSelect .findamapbox .panelKeysTransport table, .MapLocationSelect #findamapbox .panelKeysTransport table,,
.MapLocationSelect .findamapbox .panelKeysOtherOptions table, .MapLocationSelect #findamapbox .panelKeysOtherOptions table,
.MapLocationSelect .findamapbox .panelKeysSelectedCategory table, .MapLocationSelect #findamapbox .panelKeysSelectedCategory table
{
	background-color: #F4F4F4;
}

.MapLocationSelect .findamapbox .panelKeysTransport, .MapLocationSelect #findamapbox .panelKeysTransport
{
	padding: 5px 5px 5px 5px;
}

.MapLocationSelect .findamapbox .panelKeysSelectedCategory .mhd, .MapLocationSelect #findamapbox .panelKeysSelectedCategory .mhd
{
	background-color: #FFEB00;
	color: #000000;
}

#msmlm
{
	border: none;
	background-color: #FFFFFF;
}

/* ---------------------------- TICKET/RETAILERS --------------------------------*/
.matrixborder /* Tickets for journey */
{
	border:1px solid #999999;
	background-color:#FFFFFF;
}

.ticketcell
{
	border:1px solid #999999;
}

.unitcellselectedfirst
{
	background-color: #FFEB00;
	border-top: 1px solid #999999;
	border-bottom: none;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.selectcellselected
{
	background-color: #FFEB00;
	border-top: none;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.retailernamecell
{
	background-color: #FFFFFF;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: none;
}

.retailerbuycell
{
	background-color: #FFFFFF;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: none;
	border-right: 1px solid #999999;
}

#requiredticketsheading
{
	background-color: #FFFFFF;
	border:1px solid  #999999;
}

#requiredticketstable 
{
	border:1px solid #999999;
}

#colTickets, #colDiscounted, #colAdultFare, #colChildFare, #colNoOfTickets, #colTotal, #colSpacer
{
	border-bottom:1px solid #999999;
}

/* ---------------------------- HELP --------------------------------*/
/* Inline help box */
div#helpboxoutput 
{
	border: 1px solid #999999;
	padding: 0px;
	background-color: #FFFFFF;
}
div#hhd 
{
	background-color: #F4F4F4;
	padding: 2px;
}
div#hline
{
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
div#htxt 
{
	padding-top: 5px;
	color: #000000;
	border: none;
}

/* Help page */
#boxtypenine {	
	border: none;
	padding-left: 0px;
	margin-top: 10px;
}



/* ---------------------------- TRAVEL NEWS --------------------------------*/
/* Travel news - search fields */
.boxtypetwoaltnoborder, #boxtypetwoaltnoborder
{
	border: none;
	background-color: #F4F4F4;
	padding: 10px;
	margin: 0px;
	width: 807px;
}

.boxtypetravelnewsswitch
{
	border:none;
}

.TravelNewsSwitch
{
	width: 100%;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}


.TravelNewsSwitchHeader
{
	background-color: #FFEB00;
	padding: 5px;
}

.boxtypetravelincidents 
{	
	border:none;
}

.TravelIncidentsTable,
.TravelIncidentsTable td, .TravelIncidentsTable th
{
	border: none;
}

.tnhIncident, .tnhRegion, .tnhSeverity, .tnhOccurred, .tnhAffected, .tnhOperator, .tnhDetails, .tnhLastUpdated /* Live Travel News - table view headings */
{
	border: none;
	background-color: #0099FF;
	color: #FFFFFF;
}

.TravelIncidentsTable .travelIncident td,
.TravelIncidentsTable .travelIncidentAlt td
{
	border: none;
	background-color: #FFFFFF;
	border-bottom: solid 1px #999999;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Travel news incidents table on homepage */
.txtninen, .txtninenalt
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #999999;
}

/* ------------------------- LIST PAGES e.g. Departure boards -------------------------- */

.rsviewa tbody .rsviewcontentrow td,
.rsviewcontentrow
{ 
	border-bottom: none; 
}

#boxjourneychangesearchcontrol
{
	height: auto;
}

/* Visit Planner Results page Request detail label text*/
.requestvisittableheader
{
	color: #000000;
}