.boxtypetwentyfive /* Full itinerary heading row */
{
	width: 601px;
}
.boxtypetwentysix /* Full itinerary journeys */
{
	width: 611px;
}

.ejdetail /* Full itinerary journeys table */
{
	width: 611px;
}
