<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="propertyservice.providers.fileprovider.filepath" value="C:\TDPortal\Utilities\SiteStatusLoaderService\SiteStatusLoaderProperties.xml"/>
    <add key="propertyservice.groupid" value="SiteStatus"/>
    <add key="propertyservice.applicationid" value="SiteStatusLoaderMonitor"/>
  </appSettings>
</configuration>
