<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ESRI" type="TransportDirect.Presentation.InteractiveMapping.ESRISettingsSectionHandler,td.interactivemapping"/>
  </configSections>
    <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="propertyservice.applicationid" value="TestApp" />
    <add key="propertyservice.groupid" value="TestGroup" />
    <add key="propertyservice.providerassembly" value="tdp.common.propertymanager.propertyproviders" />
    <add key="propertyservice.providerclass" value="TDP.Common.PropertyManager.PropertyProviders.FilePropertyProvider" />
    <add key="propertyservice.providers.fileprovider.filepath" value=".\TestProject.Properties.xml" />
    <add key="propertyservice.providers.databaseprovider.connectionstring" value="Data Source=.\SQLExpress;Initial Catalog=PermanentPortal;Timeout=30;User id=SJP_User;Password=!password!1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="singleEmailAddress" value="TDPortalBuild@mail2.uk.atosorigin.com" />
    <add key="multiEmailAddress" value="TDPortalBuild@mail2.uk.atosorigin.com" />
    <add key="attachmentPath" value=".\TestProject.Properties.xml" />
    <add key="propertyservice.cryptography.key" value="HbiYITpTk8z43kg2xlVoMXW4JGK5r8fDxgTP/rrPte6YKxie8AIEy9VqnYzM3Kbgme4rgEYIzVyPg3nwU2d688tfe1QHttBNpie9WVpa/Hgy1+xyUnB6tD5PivYju+oIcnyoKjAYWK5RJ3BWzQruScI3IKm/DN4PY6ACfixU1Fw=" />
    <add key="propertyservice.cryptography.iv" value="8Zwl52Hpg0c3Jb6b441/wA==" />
    <add key="propertyservice.cryptography.strong" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="propertyservice.providers.databaseprovider.connectionstring" connectionString="Data Source=.\SQLExpress;Initial Catalog=PermanentPortal;Timeout=30;User id=SJP_User;Password=!password!1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ESRI>
    <!-- THESE ARE THE THINGS THAT NEED TO BE CHANGED ON SITE -->
    <Database name="maps" connection="data source=DBM;initial catalog=TDP_MAPS;user id=mapsadmin;password=R3d4lbum!" tableowner="mapsadmin"/>
    <Database name="gaz" connection="data source=GAZ;initial catalog=GAZ;user id=gazadmin;password=Wh1t34lbum!" tableowner="gazadmin"/>
    <Database name="routes" connection="data source=DBM;initial catalog=TDP_ROUTES;user id=routesadmin;password=H3yJud3!" tableowner="routesadmin"/>
    <!-- END OF ON SITE REQUIRED CHANGES -->

    <Server url="/servlet/com.esri.esrimap.Esrimap" port="5300"/>
    <ServerConnection tcphttp="tcp"/>
    <Layer name="ITN" id="ITN Roads" tableName="ITN"/>
    <Layer name="ITNZoom" id="Zoom ITN Roads" tableName="ITNZoom"/>
    <Layer name="ITNRoadNode" id="Zoom ITN Road Node" tableName="ITNRoadNode"/>
    <Layer name="Stops" id="Full Stops" tableName="Stops"/>
    <Layer name="PointX" id="Full PointX" tableName="PointX"/>
    <Layer name="CarParks" id="CarParks" tableName="CarParks"/>
    <Layer name="Congestion" id="3" numberOfLayers="9" tableName="Roads"/>
    <Layer name="CycleDataAreas" id="CycleDataAreas" tableName="CycleDataAreas"/>
    <Layer name="WalkAreas" id="WalkAreas" tableName="WALKIT_CITY"/>
    <PTStopSearch name="nearest" startdistance="10" widenfactor="2" widenmaxwidth="5000" widenmetres="2000" addressmatchiterations="6"/>
  </ESRI>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="TestProvider" enabled="true">
      <providers>
        <add name="TestProvider"
          description="The site map provider that reads in the .sitemap XML files."
          type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GazopsServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gis/GazopsWeb/GazopsWeb.asmx" binding="basicHttpBinding"
          bindingConfiguration="GazopsServiceSoap" contract="GazopsWeb.GazopsServiceSoap"
          name="GazopsServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>