<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
<appSettings>
   <add key="SocketListner.Port" value="1234" />   
   <add key="SocketListner.RTTIResponsePath" value="C:\Inetpub\wwwroot\DepartureBoardService\Test\RTTITestResponses\" /> 
   <add key="SocketListner.RTTINameSpace" value="http://www.thales-is.com/rtti/EnquriyPorts/v4/rttiEPTSchema.xsd" /> 
   <add key="SocketListner.RTTISchemaLocation" value="C:\TDPortal\CodeBase\TransportDirect\DepartureBoardService\Test\Schema\rttiEPTSchema.xsd" /> 
</appSettings>
</configuration>