/**
*	ESRI (UK) 
*	Custom Map Dijit Styles
*	Created By: 
*		Sam Larsen, slarsen@esriuk.com
*	Date:
*		10/09/2009
*/

/* START : Map elements */
.esriuk-custom-mapbase{
	/* 
	div: as main container for the map object (this is the one that is defined in the index.html page) 
	class: ESRIUK.Dijits.Map
	*/
	margin: 0px;
	position: absolute;
	overflow: hidden;
	border:1px solid #CFCFCF;
	width: auto;
}
.esriuk-custom-mapbase h1{ 
	font-size: 200%; 
}
.esriuk-custom-mapbase h2{ 
	font-size: 160%;
	margin-left: 20px;
}
.esriuk-custom-mapbase .noDisplay{
	display:none;
}
.esriuk-custom-mapbase .hide{
	/*  Bug fix for no info window 'x' issue */
	display:block;
}
.esriuk-custom-mapbase .esriuk-custom-map{
	/*
	div: as main map element
	class: ESRIUK.Dijits.MapBase
	*/
	width:auto; height: auto;
}
	/* START : Info window */
	.esriuk-custom-mapbase .esriuk-infowindow{
		/* 
		div: as main infowindow conatiner element
		class: esri.dijit.InfoWindow
		*/
		font-size: 80%;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .sprite{
		/* div acting as a place holder for the background-image of the info window
			Replacing image for popup info window background
			add a background-image declaration here using the following format:
				background-image:url(../images/nihilo.infowindow.png);
			Image must be png, width=1000px  & height=1000px
			Alternates:
			background-image:url(../images/esridefault.infowindow.png);
			background-image:url(../images/nihilo.infowindow.png);
			background-image:url(../images/tundra.infowindow.png);
		*/
		background-image:url(../images/soria.infowindow.png);
	}
	.dj_ie6 .esriuk-custom-mapbase .esriuk-infowindow .sprite{
		background-image:url(../images/soria.infowindow.gif);
	}
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .titlebar,
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .titlebar .title{
		/* div element containing the title string of the info window */
		font-size: 100%;
		min-height:10px;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .border{
		/* this hides the horizontal rule across the bottom of the title in the info window */
		display: none;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .content{
		/* div acting as root element for content of the info window main content panel */
		font-size: 80%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .content .dijitTextBox{
		vertical-align:middle;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .content .dijitButton{
		margin-top: 0px; margin-bottom: 0px;
	}
	.dj_ie .esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .content .dijitButtonNode{
		padding-top: 0px; padding-bottom: 0px;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content{
		/* common border styles for map & popup window */
		padding:4px;
		border:1px solid #CFCFCF;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content span.travelNewsField{
		font-weight: bold;
		min-width: 100px;
		display: inline-block;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content span.travelNewsBody{
		display: inline-block;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content a{
		margin-left: 0px;
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content .infoRow{
		/* specific internal html added by the custom map viewer into main content panel */
		height:15px;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content .infoRow .data{
		/* specific internal html added by the custom map viewer into main content panel */
		float: left;
	}
	.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content .infoRow .field{
		/* specific internal html added by the custom map viewer into main content panel */
		width:75px;
		font-weight: bold;
	}
	/* END : Info window */
	/* START : Map Graphics CSS */
	.esriuk-custom-mapbase svg g path,
	.esriuk-custom-mapbase svg g circle,
	.esriuk-custom-mapbase svg g rect,
	.esriuk-custom-mapbase svg g image,
	.esriuk-custom-mapbase v\:shape,
	.esriuk-custom-mapbase v\:oval,
	.esriuk-custom-mapbase v\:rect,
	.esriuk-custom-mapbase v\:imagedata{
		/* makes all map graphics create the 'hand' cursor when mouse is hovering over them */
		cursor: pointer;
	}
	/* END : Map Graphics CSS */
.esriuk-custom-mapbase .mapOverlay{
	/* general z-index property for map overlay elements (e.g. navigation panel */
	z-index: 29;
}
.esriuk-custom-mapbase .mapPanel{
	/* general panel with gray border and white background */
	border: 1px solid #CCCCCC;
	background-color: white;
}
.esriuk-custom-mapbase .semiTransparent{
	/* cross-browser transparency hack (set at 85%) */
	/*filter: alpha(opacity=85);  internet explorer */
	-khtml-opacity: 0.85;      /* khtml, old safari */
	-moz-opacity: 0.85;       /* mozilla, netscape */
	opacity: 0.85;           /* fx, safari, opera */
}
/* END : Map element */
/* --------------------------*/
/* START : Navigation Panel Styles */
.esriuk-custom-mapbase .navPanelContainer{
	/*
	div: as main map navigation control panel
	class: ESRIUK.Dijits.MapNavPanel
	*/	
	position: absolute; 
	margin-left: -1px;
	margin-top: -1px;
}
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder{
	/* inner navigation container */
	position: absolute; 
	height: 60px;
	width: 60px;
	top: 0px; 
	left: 0px;
}
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .navPanelItem{
	/* icon styles for each button (e.g. up, down, left, right, fullextent) */
	position: absolute; 
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .top{ top: 4px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .middle{ top: 22px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .bottom{ top: 40px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .left{ left: 4px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .centre{ left: 22px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .centrePlus{ left: 23px; }
.esriuk-custom-mapbase .navPanelContainer .navPanelHolder .right{ left: 40px; }
/* END : Navigation Panel Styles */
/* --------------------------*/
/* START : ToolBar Panel Styles */
.esriuk-custom-mapbase .toolbarPanelContainer{
	/*
	div: as main map navigation control panel
	class: ESRIUK.Dijits.MapToolBarPanel
	*/	
	position: absolute;
	left: 60px;
	top: -1px;
}
.esriuk-custom-mapbase .toolbarPanelContainerFlush{
	/*
		When no nav/zoom panels are showing - make this panel flush to the left top corner of the map
	*/
	left: -1px;
}
.esriuk-custom-mapbase .toolbarPanelContainer .toolbarPanelHolder{
	/* inner navigation container */
	padding: 2px;
}
.esriuk-custom-mapbase .toolbarPanelContainer .toolbarPanelHolder .toolbarPanelItem{
	/* icon styles for each button (e.g. up, down, left, right, fullextent) */
	width: 22px;
	height: 22px;
	margin: 2px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	display: inline-block;
}
.esriuk-custom-mapbase .toolbarPanelContainer .toolbarPanelHolder .selected{
		border-color: blue;
}
/* END : ToolBar Panel Styles */
/* --------------------------*/
/* START: Loading Icon Styles */
.esriuk-custom-mapbase .loadingIcon{
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	padding:0.25em;
}
.esriuk-custom-mapbase .loadingIcon img,
.esriuk-custom-mapbase .loadingIcon span{
	vertical-align:middle
}
/* END : Loading Icon Styles */
/* --------------------------*/
/* START: Slider Panel Styles */
.esriuk-custom-mapbase .sliderPanelContainer{
	position: absolute;
	top: -1px;
	left: -1px;
	margin-top: 61px;
}
.esriuk-custom-mapbase .sliderPanelContainer .sliderPanelHolder{
	position: absolute;
	top: 0px;
	width: 60px;
	height: 160px;
}
/* END : Slider Panel Styles */
/* --------------------------*/
/* START: Map scale slider css */
.esriuk-custom-mapbase .dijitSlider .dijitSliderBarContainerV{
	/* 
	this overrides the core styles for the scale slider 
	creates cursor 'hand' icon when hover over these elements
	*/
	cursor: pointer;
}
.esriuk-custom-mapbase .dijitSlider .dijitRuleMarkV{
	/* Styles for zoom slider level markers (on right of slider) */
	cursor:pointer;
	height:1px;
	background-color:#7F7F7F !important;
	border-bottom-width: 1px !important;
	border-color: #7F7F7F !important;
}
.esriuk-custom-mapbase .sliderBottomBox{
	/* Styles for box around bottom levels of slider marks */
	border:1px solid red;
	position:absolute;
}
	/* START: Fix for IE6 slider labal display problem */
	.dj_ie6 .esriuk-custom-mapbase .sliderBottomBox{
		width: 12px;
	}
	.dj_ie6 .esriuk-custom-mapbase .dijitSlider .dijitRuleMarkV{
		width: 8px;
		height: 0px;
		background-color:transparent !important;
		border-bottom-width: 0px !important;
		border-top-width: 2px !important;
	}
	/* END: Fix for IE6 slider labal display problem */
	/* START: Use custom Images for slider icons */
	.dj_ie6 .esriuk-custom-mapbase .dijitSlider .dijitSliderDecrementIconV, 
	.dj_ie6 .esriuk-custom-mapbase .dijitSlider .dijitSliderIncrementIconV {
		background-image:url(../images/spriteRoundedIconsSmall.gif);
	}
	.esriuk-custom-mapbase .dijitSlider .dijitSliderDecrementIconV, 
	.esriuk-custom-mapbase .dijitSlider .dijitSliderIncrementIconV {
		background-image:url(../images/spriteRoundedIconsSmall.png);
	}
	/* END: Use custom Images for slider icons */
/* END: Map scale slider css */

/* TDP custom */
.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content a {
    margin: 2px 0px 0px 0px;
	display: block;
}
.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .titlebar{
	min-height: 12px;
}
.esriuk-custom-mapbase .esriuk-infowindow .window .top .right .user .content {
    min-height:25px;
}
.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content {
    min-height: 25px;
}
.esriuk-custom-mapbase .esriuk-infowindow .esriuk-infowindow-content br{
    line-height: 2px;
}