<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="propertyservice.themeid" value="1"/>
    <add key="propertyservice.applicationid" value="TransactionInjector"/>
    <add key="propertyservice.groupid" value="ReportDataProvider"/>
    <add key="propertyservice.providerassembly" value="td.common.propertyservice.filepropertyprovider"/>
    <add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.FilePropertyProvider.FilePropertyProvider"/>
    <add key="propertyservice.providers.fileprovider.filepath" value="D:\TDPortal\Components\TransactionInjector\TransactionInjectorProperties.xml"/>
    <add key="themeinfrastructure.provider.type" value="file"/>
    <add key="themeinfrastructure.provider.theme.filepath" value="D:\TDPortal\Components\TransactionInjector\TransactionInjectorThemes.xml"/>
  </appSettings>
</configuration>
