.bodyArea
{
	width:840px;
}

.boxtypelargetwo
{
	width:824px;
}

.boxtypesixteen
{
	width:822px;	
}

.boxtypetwentyfive
{
	width:800px;
	margin: 5px 0px 0px 5px;
}

.boxtypetwentysix
{
	width:810px;
	margin: 0px 0px 0px 5px;
}

.ejdetail
{
	width: 810px;
}

#maincontenttable
{
	 /*height:595px;*/
	 width:822px;
}

#topofpagecontrols
{
	width: 832px;
}