.boxtypeeightalt
{
	width:838px;
}

.boxtypeeightstd
{
	width:814px;	
}

.boxtypeeightblue
{
	margin: 5px 0px 5px 5px;
	width: 814px;
}

.businesslinktermsdiv
{
	width:814px;	
}

.templateSelectBox
{
	height: 330px;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #99ccff;
}

.templatecodebox
{
	width:813px;	
}