.mainArea
{
	/*height:618px*/
}

.clearText
{
	clear:both;
}

#boxtypelargeeight
{
	width:831px;
}

.boxtypetwelverefine
{
	width:819px;
}

#boxtypetenfifteen
{
	width:795px;
}

#boxtypetwentynine
{
	width:795px;
}

#dmtitle
{
	width:809px;
}