.boxtypeJourneyBuilder
{
	width:825px;
}

.boxtypetwelverefine
{
	width:813px;
}

#maincontenttable
{
	width:100%;	
}

#topofpagecontrols
{
	width:832px;	
}

.boxtypesixteen
{
	width: 831px;	
}

.tddepartureboard
{
	width: auto;
}

.divdepartureboard
{
	width: auto;
}