/* Styles for Cycle details*/
.cycleJourneyDetailsPanel
{
	margin: 0px 0px 5px 10px;
}

.cycleAllDetailsBoxType1
{
	background-color: #ccccff;
	padding: 5px 5px 5px 5px;
	border: 1px solid #330099;
}

.cycleAllDetailsBoxType2
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	height: 1%;
}
html>body .cycleAllDetailsBoxType2
{
	height: auto;
}

.cycleAllDetailsBoxType3
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: 1px solid #330099;
}

.cycleAllDetailsBoxType4
{
	margin-bottom: 5px;
}

.cycleAllDetailsBoxType5 /* Cycle all details footer links */
{
	padding: 0px 0px 10px 10px;
	vertical-align: middle;
}

.cycleAllDetailsBoxType5 img
{
	vertical-align: middle;
}
/* -------------------------------------- */


/* Styles for Cycle journey summary table */
.cycleJourneySummaryBoxType1
{
	border: 1px solid #330099;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
	background-color: #ccccff;
	height: 1%;
}

html>body .cycleJourneySummaryBoxType1
{
	height: auto;
}


/* -------------------------------------- */


/* Styles for Cycle journey details table */
.cycleJourneyDetailsBoxType1
{
	width: 486px;
	height: 390px;
	border: 1px solid #330099;
	padding: 5px 0px 5px 0px;
	margin-bottom: 5px;
}

.cycleJourneyDetailsBoxType2
{
	padding: 0px 5px 10px 5px;
	height: 16px;
	overflow: hidden;
}

.cycleJourneyDetailsBoxType3
{
	width: 461px;
	min-height: 300px;
	height: 370px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0px 15px 0px 10px;
}

.cycleJourneyDetailsTableHeader1, /* step */
.cycleJourneyDetailsTableHeader2, /* distance */
.cycleJourneyDetailsTableHeader3, /* direction */
.cycleJourneyDetailsTableHeader4, /* cycle route image */
.cycleJourneyDetailsTableHeader5  /* time */
{
	text-align: left;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}

.cycleJourneyDetailsTableCell1, /* step */
.cycleJourneyDetailsTableCell2, /* distance */
.cycleJourneyDetailsTableCell3, /* direction */
.cycleJourneyDetailsTableCell4, /* cycle route image */
.cycleJourneyDetailsTableCell5, /* time */
.cycleJourneyDetailsTableCell6, /* cycle route below direction */
.cycleJourneyDetailsTableCell7, /* instruction below direction */
.cycleJourneyDetailsTableCell8  /* attribute details below direction */
{
	text-align: right;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
}

.cycleJourneyDetailsTableHeader2,
.cycleJourneyDetailsTableCell2
{
	text-align: center;
	width: 35px; /* specified to ensure table doesnt jump when distance units switched */
}

.cycleJourneyDetailsTableCell3
{
	padding-bottom: 4px;
}

.cycleJourneyDetailsTableCell6,
.cycleJourneyDetailsTableCell7,
.cycleJourneyDetailsTableCell8
{
	padding: 0px 0px 5px 10px;
}

.cycleJourneyDetailsTableCell3,
.cycleJourneyDetailsTableCell6,
.cycleJourneyDetailsTableCell7,
.cycleJourneyDetailsTableCell8
{
	text-align: left;
}

.cycleJourneyDetailsAttributeHideOut,
.cycleJourneyDetailsAttributeHideRet
{
	display: none;
	padding: 3px 0px 3px 0px;
	clear: both;
}

.cycleJourneyDetailsAttributeShowOut,
.cycleJourneyDetailsAttributeShowRet
{
	display: block;
	padding: 3px 0px 3px 0px;
	clear: both;
}

.nopadding
{
	padding: 0px 0px 0px 0px;
}

/* -------------------------------------- */


/* Styles for Cycle GPS tracking */
.cycleJourneyGPSBoxType1
{
	width: 300px;
	height: 98px;
	border: 1px solid #330099;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	overflow: hidden;
}
/* -------------------------------------- */


/* Styles for Cycle journey chart */
.cycleJourneyGraphBoxType1
{
	width: 300px;
	height: 280px;
	border: 1px solid #330099;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	overflow: hidden;
}
html>body .cycleJourneyGraphBoxType1
{
	height: 275px;
}

.chartWait
{
	display: none;
	width: 100%;
	height: 270px;
	padding-top: 50px;
	text-align: center;
}

/* chart is placed in this div */
.chartContainer
{
	display: none;
	height: 255px;
	text-align: center;
}

/* ErrorMsg if Gradient Profiler fails is placed in this div */
.chartError
{
	display: none;
	text-align: center;
	padding-top: 100px;
}

/* chart */
.chart {
	font: menu;
	background: white;
	color: #000000;	/* colour of labels on x,y axis */
	overflow: visible;
	position: relative;
	width: 95%;
	height: 200px;
}

.chartColour
{
	background-color: #31009c; /* colour of the chart */
	display: none;
}
/* -------------------------------------- */

/* Styles for Cycle journey chart table*/
.divChartTable
{
	width: 100%;
	height: 240px;
	padding-top: 10px;
	text-align: center;
	overflow: auto;
}

.chartTable
{
}

.chartTableHeaderDistance, .chartTableHeaderHeight
{
	width: 120px;
	padding: 3px 5px 3px 5px;
	border: solid 1px #330099;
}

.chartTableDistance, .chartTableHeight
{
	padding: 3px 0px 3px 0px;
	border: solid 1px #330099;
	border-top: none;
}

.chartTableHeaderDistance,
.chartTableDistance
{
	border-right: none;
}

.chartTableHeaderHeight,
.chartTableHeight
{
	border-left: none;
}



/* -------------------------------------- */
