.HomepageOutlineTable
{ 
	width: 100%;
}

#boxtypetdtheadernodiscount, #boxtypetdtitemsnodiscount, #boxtypeeightstd, #boxtype11, .boxtype11, .boxtypeeightstd, .boxtypetdtheadernodiscount, .boxtypetdtitemsnodiscount
{
	width: 817px;
	margin-left: 10px;
}

#boxtypetdtheadertitlenodiscount, .boxtypetdtheadertitlenodiscount
{
	width: 807px;
	margin-left: 10px;
}

#ticketSelectionControl_repeaterResultTable
{
	
}

#boxjourneychangesearchcontrol
{
	width: 820px;
	padding-left:0px;
	margin-left: 10px;
}

div#helpboxoutput
{
	width: 821px;
	margin-left: 10px;
}

.boxtypeerrormsg
{
	padding-left: 0px;
	margin-left: 10px;
}

.tdttypecolumnheader
{
	width:290px;
}

.tdtflexibilitycolumnheader
{
	width:150px;
}

.tdtselectitem 
{
	width: 80px;
}

.tdtprobabilityitem
{
	width: 100px;
}

.tdtfareitem
{
	text-align: left;
	width: 80px;
	
}

.boxtypetwelveamendcontrol
{
	width: 816px;
}

#boxtypetdtitemsnodiscountscroll, .boxtypetdtitemsnodiscountscroll
{
	width:817px;
	margin-left:10px;
}

.tdtselectcolumnheader
{
	width:85px;
}

.tdtprobabilitycolumnheader
{
	width:130px;
}

.tdttypeitem 
{
	width: 330px;
}

.tdtflexibilityitem 
{
	width: 157px;
}

.tdtfareitem 
{
	width: 80px;
}

.tdtprobabilityitem 
{
	width: 130px;
}

#boxtypethirteen
{
	padding-left: 0px;
}

.boxtypethirteen
{
	padding-left: 0px;
}