#mboxtypetwo 
{
	margin-left:10px;
	margin-right:0px;

}

.mapSelectResolveLocationContainer
{
	display:block;
	width:90%;
	overflow:visible;
}

.planJourneyLocationInstructions
{
	text-align:right;
	width:40%;
}

#boxtypeeightstd, .boxtypeeightstd
{
	width:819px;
	margin-left:10px;
}

#mapLocationControl
{
	line-height: 1;
}

#mboxtypetwonoborder, #mapContainer, .mapContainer
{
	margin-left:10px;
}


#TrafficMapResults div#helpboxoutput
{
	width: 821px;
	margin-left: 10px;
}

#mapcontrol
{
	margin-top:10px;
	margin-bottom: 20px;
}

.MapLocationSelect
{
	margin-left: 6px;
}

DIV#mapOverviewBox, DIV#findamapbox
{
	height: 250px;
}

DIV#panelKeysOther, DIV.panelKeysOther
{
	width: 421px;
}

DIV#findamapbox
{
	width: 609px;
}

DIV#mhe
{
	width: 20%;
}

div#mheSymbols
{
	width: 110px;
}

DIV#mapContainer, DIV.mapContainer
{
	width: 816px;
}

DIV#mboxtypetwonoborder
{
	width: 822px;
}

DIV.boxtypeeightalt
{
	margin-left: 10px;
}

.bodyArea
{
	width:840px;	
}

DIV#helpboxlocations
{
	width:600px;	
	margin-left:9px;
}

DIV#helpboxoutput
{
	width:820px;	
	margin-left:9px;
}

.SoftContentPanel
{
	margin-left: 10px;
	margin-right: 0px;
}

.HomepageMainLayoutColumn4 
{
	border-top:0px;
	height:448px;
}

DIV#panelBackTop {
	margin-left: 10px;
}

.boxtypeerrormsgfour
{
	padding: 0px;
	margin-left: 10px;
	width: 615px;
}