#boxjourneychangesearchcontrol
{
	margin-left: 5px;
	width: 820px;	
}

.boxtypeerrormsgtwo
{
	width:822px;
	margin: 0px;
	padding: 0px;	
}

.boxtypejourneyoverviewcontrol
{
    margin-left: 10px;
	width:820px;
}

.boxtypesixteen
{
    margin-left: 10px;
    padding-top: 0px;
    width: 820px;
}

.boxtypeeightstd
{
    margin-left: 10px;
}

.boxtypetwelveamendcontrol
{
	width: 810px;	
}

#boxtypethirteen
{
	padding-left: 0px;
}

.bodyArea
{
	width:840px;
}

.jpsumoutfinda
{
	width:771px;
}

td#focheader1t,td#focbody1t,td#focbody1tg,td#focbody1t_lr,td#focbody1tg_lr, td.focheader1t,td.focbody1t,td.focbody1tg,td.focbody1t_lr,td.focbody1tg_lr
{
	width:130px;
}