/* Simple Printable map control overview and keys - added by apatel DevFactory */
#printmapoverviewboxrow
{
	width:28%;
}

#iconsDisplayRow
{
	width: 36%;
}

#boxtypethreem
{
	width: 508px;
}

#boxtypeonem
{
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 2px;
	margin-right:2px;
}

DIV#mapbox
{
	width: 110px;
}





