.boxtypesixteen
{
	width:834px;
	margin-left:2px;
}

.boxtypetwelverefine
{
	width:808px;
	margin-left:3px;
}

#dmtitle, .dmtitle
{
	width:798px;
}

.ExtendedButtons
{
	padding-right:13px;
}

#boxtypetwelve
{
	width:805px;
}

.backButtonPad
{
	float:left;
	padding-left:4px;
}

.buttonsPad
{
	float:right;
}
