.boxtypetwentyfive
{
    margin: 0px;
    padding: 0px 0px 0px 5px;
	width: 600px;
}

.boxtypetwentysix
{
    margin: 0px;
    padding: 0px;
	width: 605px;
}


.ejdetail
{
	width: 605px;	
}

.ejpdesthdwide
{
	width:90px;
}

.ejporighdwide
{
	width:90px;
}
