.matrixborder
{
	width:814px;
}

.matrixheading
{
	width:798px;
}

.ticketcell
{
	width:730px;	
}

.retailertable
{
	width:810px;	
}

.boxjourneychangesearchcontrol
{
	width:825px;	
}

#maincontenttable
{
	height:595px;	
}

#boxtypeten
{
	background-color:White;
	border:0px;
}

.boxtypetwelveamendcontrol
{
	width:814px;	
}

.boxtypeeightalt
{
	width:700px;	
}

.bodyArea
{
	width:840px;	
}

H3
{	
    font-style: normal;
}