#boxjourneychangesearchcontrol
{
	width:826px;	
}

#requiredticketsheading
{
	width:803px;	
}

#requiredticketstable
{
	width:825px;	
}

#boxtypeten
{
	background-color:White;
	width:813px;
	border:0px;
}

.bodyArea
{
	width:840px;
}