<configuration>
	<system.runtime.remoting>
		<application>
         <channels>
            <channel ref="http" useDefaultCredentials="true" port="0">
               <clientProviders>
                  <formatter 
                     ref="binary"
                  />
               </clientProviders>
            </channel>
         </channels>
			<client>
				<wellknown 
					type="TransportDirect.JourneyPlanning.CJP.CJP, td.CJP" 
					url="http://JP/cjp/cjp.rem" />
			</client>
			<client>
				<wellknown 
					type="TransportDirect.UserPortal.RetailBusinessObjects.RetailBusinessObjectsFacade, td.userportal.retailbusiness" 
					url="http://localhost/TDRemotingHost/RetailBusinessObjectsFacade.rem" />
			</client>
			<client>
				<wellknown 
					type="TransportDirect.UserPortal.JourneyPlanRunner.JourneyPlanRunnerCaller, td.userportal.journeyplanrunner" 
					url="http://localhost/TDRemotingHost/JourneyPlanRunnerCaller.rem" />
			</client>
			<client>
				<wellknown
					type="TransportDirect.UserPortal.VisitPlanRunner.VisitPlanRunnerCaller, td.userportal.visitplanrunner"
					url="http://localhost/TDRemotingHost/VisitPlanRunnerCaller.rem" />
			</client>
			<client>
				<wellknown
	 				type="TransportDirect.UserPortal.CostSearchRunner.CostSearchRunnerCaller, td.userportal.costsearchrunner"
					url="http://localhost/TDRemotingHost/CostSearchRunnerCaller.rem" />
			</client> 	-->
			<client>
				<wellknown
					type="TransportDirect.UserPortal.TimeBasedPriceRunner.TimeBasedPriceSupplierCaller, td.userportal.timebasedpricerunner"
					url="http://localhost/TDRemotingHost/TimeBasedPriceSupplierCaller.rem" />
			</client>
			<client>
				<wellknown 
					type="TransportDirect.UserPortal.JourneyPlanRunner.CycleJourneyPlanRunnerCaller, td.userportal.journeyplanrunner" 
					url="http://localhost/TDRemotingHost/CycleJourneyPlanRunnerCaller.rem" />
			</client>
      <client>
        <wellknown
					type="TransportDirect.UserPortal.JourneyPlanRunner.InternationalJourneyPlanRunnerCaller, td.userportal.journeyplanrunner"
					url="http://localhost/TDRemotingHost/InternationalJourneyPlanRunnerCaller.rem" />
      </client>
		</application>
	</system.runtime.remoting>
</configuration>