<configuration>
	<system.runtime.remoting>
		<application>
         <channels>
            <channel ref="http" useDefaultCredentials="true" port="0">
               <clientProviders>
                  <formatter 
                     ref="binary"
                  />
               </clientProviders>
            </channel>
         </channels>
			<client>
				<wellknown 
					type="TransportDirect.JourneyPlanning.CJP.CJP, td.CJP" 
					url="http://ACP-DFT-J01:80/cjp/cjp.rem" />
			</client>
			<client>
				<wellknown 
					type="TransportDirect.UserPortal.RetailBusinessObjects.RetailBusinessObjectsFacade, td.userportal.retailbusiness" 
					url="http://ACP-DFT-GA01:80/RetailBusinessObjects/RetailBusinessObjectsFacade.rem" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>