<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="Site Status Loader Service"/> <!-- Name of service that is displayed in the Windows Event Log-->
    <add key="propertyservice.providers.fileprovider.filepath" value="C:\TDPortal\Utilities\SiteStatusLoader\SiteStatusLoaderProperties.xml"/>
    <add key="propertyservice.groupid" value="SiteStatus"/>
    <add key="propertyservice.applicationid" value="SiteStatusLoaderService"/>
  </appSettings>
</configuration>
