<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
      <add key="propertyservice.applicationid" value="ReportStagingDataArchiver"/>
	<add key="propertyservice.groupid" value="ReportDataProvider"/>
	<add key="propertyservice.providerassembly" value="td.common.propertyservice.databasepropertyprovider"/>
	<add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.DatabasePropertyProvider.DatabasePropertyProvider"/>
	<add key="propertyservice.providers.databaseprovider.connectionstring" value="Integrated Security=SSPI;Initial Catalog=PermanentPortal;Data Source=localhost;Connect Timeout=30" />
	<add key="Logfile.Path" value="C:\TDPortal\DEL5\TransportDirect\ReportDataProvider\ReportStagingDataArchiver\bin\Debug"/>
  </appSettings>
</configuration>
   
