<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.CostSearchRunner.CostSearchRunnerCaller, td.userportal.costsearchrunner"
					objectUri="CostSearchRunnerCaller.rem" />
			</service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlanRunner.InternationalJourneyPlanRunnerCaller, td.userportal.journeyplanrunner"
					objectUri="InternationalJourneyPlanRunnerCaller.rem" />
			</service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlanRunner.JourneyPlanRunnerCaller, td.userportal.journeyplanrunner"
					objectUri="JourneyPlanRunnerCaller.rem" />
			</service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlanRunner.CycleJourneyPlanRunnerCaller, td.userportal.journeyplanrunner"
					objectUri="CycleJourneyPlanRunnerCaller.rem" />
			</service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.TimeBasedPriceRunner.TimeBasedPriceSupplierCaller, td.userportal.timebasedpricerunner"
					objectUri="TimeBasedPriceSupplierCaller.rem" />
			</service>
			<service>
				<wellknown mode="Singleton" type="TransportDirect.UserPortal.DepartureBoardService.MobileBookmark.TDMobileBookmark, td.userportal.departureboardservice"
					objectUri="MobileBookmark.rem" />
			</service>
      <service>
          <wellknown mode="Singleton" type="TransportDirect.UserPortal.RetailBusinessObjects.RetailBusinessObjectsFacade, td.userportal.retailbusiness" 
		      objectUri="RetailBusinessObjectsFacade.rem" />
      </service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.VisitPlanRunner.VisitPlanRunnerCaller, td.userportal.visitplanrunner"
					objectUri="VisitPlanRunnerCaller.rem" />
			</service>
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlannerService.JourneyPlanner, td.userportal.journeyplannerservice"
					objectUri="JourneyPlannerService.rem" />
			</service>	
			<service>
				<wellknown mode="SingleCall" type="TransportDirect.UserPortal.JourneyPlannerService.JourneyPlannerSynchronous, td.userportal.journeyplannerservice"
					objectUri="JourneyPlannerSynchronousService.rem" />
			</service>				
			<client>
				<wellknown type="TransportDirect.JourneyPlanning.CJP.CJP, td.CJP" 
					url="http://JP/cjp/cjp.rem" />
			</client>
      <client>
        <wellknown type="TransportDirect.UserPortal.InternationalPlanner.InternationalPlanner, td.userportal.internationalplanner"
					url="http://localhost/TDPlannerHost/internationalplanner.rem" />
      </client>
      <client>
				<wellknown type="TransportDirect.JourneyPlanning.FaresProvider.FaresProvider, td.FaresProvider"          
					url="http://JP/FaresProvider/FaresProvider.rem"/>        
			</client>
		</application>
	</system.runtime.remoting>
</configuration>