<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="propertyservice.applicationid" value="ReportStagingDataArchiver"/>
	<add key="propertyservice.groupid" value="ReportDataProvider"/>
	<add key="propertyservice.providerassembly" value="td.common.propertyservice.databasepropertyprovider"/>
	<add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.DatabasePropertyProvider.DatabasePropertyProvider"/>
	<add key="propertyservice.providers.databaseprovider.connectionstring" value="Integrated Security=SSPI;Database=PermanentPortal;Server=ACP-DFT-D03" />
	<add key="propertyservice.cryptography.key" value="JZ5CJ4XmMp2McZye4Ew4m1R8XQvsxZqIVLEstEIGCElMhEOxIvmaYCjPdJD5c8jocihsos1wLIFW3FeSP/t40fwEJgPYU4FDAjyTUgpije1g4rf7kCmJXpTTvloxvojPPrJia6LY0UIku6PwuAXHZIhGI64JkOapkUxCCG0Bv20=" />
	<add key="propertyservice.cryptography.iv" value="E0GWuHxK+KynG25sg7M7SQ==" />
	<add key="propertyservice.cryptography.strong" value="false" />
	<add key="DefaultLogFilepath" value="D:\TDPortal"/>
  </appSettings>
</configuration>
   
