<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="ESRI"
             type="TransportDirect.Presentation.InteractiveMapping.ESRISettingsSectionHandler,td.interactivemapping"/>
  </configSections>
	
	<appSettings>
		<add key="propertyservice.applicationid" value="Web"/>
		<add key="propertyservice.groupid" value="UserPortal"/>
		<add key="propertyservice.cryptography.key" value="JZ5CJ4XmMp2McZye4Ew4m1R8XQvsxZqIVLEstEIGCElMhEOxIvmaYCjPdJD5c8jocihsos1wLIFW3FeSP/t40fwEJgPYU4FDAjyTUgpije1g4rf7kCmJXpTTvloxvojPPrJia6LY0UIku6PwuAXHZIhGI64JkOapkUxCCG0Bv20=" />
		<add key="propertyservice.cryptography.iv" value="E0GWuHxK+KynG25sg7M7SQ==" />
		<add key="propertyservice.cryptography.strong" value="false"/>
		<add key="propertyservice.providerassembly" value="td.common.propertyservice.databasepropertyprovider"/>
		<add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.DatabasePropertyProvider.DatabasePropertyProvider"/>
		<add key="propertyservice.providers.databaseprovider.connectionstring" value="Integrated Security=SSPI;Database=PermanentPortal;Server=D03"/> 
	</appSettings>


  <ESRI>
	<Debug level="1" />
    <Server url="/transportdirect/servlet/com.esri.esrimap.Esrimap" />
	<Client version="ClientVersion=4.0" />
	<Pan factor="0.5" />
	<Zoom factor="0,50000,2;50000,1000000,4;1000000,20000000,6" />
	<Zoom name="Congestion" factor="499999,20000000,2" />
	<ZoomFull minx="0" miny="-50000" maxx="660000" maxy="1220000" />
	<ZoomRoute border="1.1" />
	<Map name="full" minscale="2000" />
	<Map name="congestion" minscale="100000" />
	<OverviewMap enabled="true" service="overview" width="95" height="128" />
	
	<Scalebar enabled="true"
		coords="250 5" 
		fontcolor="0,0,0"
		barcolor="153,153,153"
		outline="255,255,255"
		font="Arial"
		fontsize="12"
		screenlength="120"
		barwidth="8"
		mapunits="meters"
		scaleunits="miles"
		precision="2"
		antialiasing="true" />
	
	<Route line-width="6" style="solid" type="simple" color="0,0,0" />
	<Route name="AIR" color="0,255,0" />
	<Route name="BUS" style="dash" color="153,0,255" />
	<Route name="CAR" style="dash_dot_dot" color="0,255,204" />
	<Route name="COACH" style="dash_dot" color="51,204,153" />
	<Route name="CYCLE" color="204,255,255" />
	<Route name="DRT" color="204,255,0" />
	<Route name="FERRY" color="153,153,0" />
	<Route name="METRO" type="hash" color="255,255,051" />
	<Route name="RAIL" type="hash" color="255,204,0" />
	<Route name="TAXI" color="255,102,051" />
	<Route name="TRAM" color="255,204,153" />
	<Route name="UNDERGROUND" type="hash" color="204,204,204" />
	<Route name="WALK" style="dot" color="255,0,0" />

	<Copyright x="5" y="5" 
			text="&amp;#169; Crown Copyright License number 100020237" 
			font-name="Arial" font-style="regular" font-size="11" 
			font-rgb="0,0,0" glowing-rgb="255,255,255" />
	<Copyright name="Congestion" font-size="8" />

	<Layer name="ITN" id="ITN Roads" tableName="ITN" />
	<Layer name="ITNZoom" id="Zoom ITN Roads" tableName="ITNZoom" />
	<Layer name="Stops" id="Full Stops" tableName="Stops" />
	<Layer name="PointX" id="Full PointX" tableName="PointX" />
	<Layer name="Congestion" id="3" numberOfLayers="9" tableName="Roads" />		

	<RouteRenderer name="Road" line-style="solid" 
	               width="0,50000,20;50000,1000000,12;1000000,20000000,5" 
	               rgb="0,1,156,85,249;1,16,0,255,0;16,31,246,198,0;31,101,255,0,0" 
	               transparency="0,50000,0.3;50000,1000000,0.5;1000000,20000000,0.7"/>
	<RouteRenderer name="UnajRoad" line-style="solid" 
	               width="0,50000,10;50000,1000000,6;1000000,20000000,2" 
	               rgb="-1,-1,0,0,0" 
	               transparency="0,50000,0.5;50000,1000000,0.6;1000000,20000000,0.7"/>
	<Raster imagepath="D:/arcims/website/tdp_images" urlpath="/website/tdp_images" />
	<Image name="StartPoint" file="tdpstarticon.gif" />
	<Image name="EndPoint" file="tdpendicon.gif" />
	<Image name="ViaPoint" file="tdpviaicon.gif" />
	<Point font-name="Arial" font-style="regular" font-size="11" font-rgb="0,0,0" glowing-rgb="255,255,255" />
	<Database name="maps" connection="data source=;initial catalog=OSMAP;user id=osadmin;password=" tableowner="osadmin" />
	<Database name="gaz" connection="data source=;initial catalog=GAZ;user id=gazadmin;password=" tableowner="gazadmin" />
	<Database name="routes" connection="data source=;initial catalog=MASTERMAP;user id=mapadmin;password=" tableowner="mapadmin" />
	<Stops name="BCX" types="BCT;BCS" image="m_trlrg_h.gif" />
	<Stops name="RSE" types="RSE;RLY;TMU" image="m_cirlrg_h.gif" />
	<Stops name="AIR" types="AIR;FTD;GAT" image="m_sqlrg_h.gif" />
	<Stops name="TXR" types="TXR;STR" image="m_dimlrg_h.gif" />
	<StopsDeleted name="BCX" types="BCT;BCS" image="m_trlrg_h-del.gif" />
	<StopsDeleted name="RSE" types="RSE;RLY;TMU" image="m_cirlrg_h-del.gif" />
	<StopsDeleted name="AIR" types="AIR;FTD;GAT" image="m_sqlrg_h-del.gif" />
	<StopsDeleted name="TXR" types="TXR;STR" image="m_dimlrg_h-del.gif" />
	<Symbols image="TRIANGLE=m_trlrg.gif;CIRCLE=m_cirlrg_w.gif;SQUARE=m_sqlrg.gif;DIAMOND=m_dimlrg.gif" />

	<Query distance="50" />
	<Identify pixeltolerance="5" />
	<PTStopSearch name="nearest" startdistance="10" widenfactor="2" widenmaxwidth="5000" widenmetres="2000" />

  </ESRI>

	<system.web>
		<httpModules>
			<add type="Microsoft.ContentManagement.Web.Security.CmsAuthorizationModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsAuthorizationModule"/>
			<add type="Microsoft.ContentManagement.Web.CmsEndRequestModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsEndRequestModule"/>
			<add type="Microsoft.ContentManagement.Publishing.Events.PostingEventsModule, Microsoft.ContentManagement.Publishing, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsPosting"/>
			<add type="Microsoft.ContentManagement.Web.Caching.CmsCacheModule, Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CmsCacheModule"/>
		</httpModules>
		<httpRuntime delayNotificationTimeout="60"/>
		<!--  DYNAMIC DEBUG COMPILATION
            Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
            false will improve runtime performance of this application. 
            Set compilation debug="true" to insert debugging symbols (.pdb information)
            into the compiled page. Because this creates a larger file that executes
            more slowly, you should set this value to true only when debugging and to
            false at all other times. For more information, refer to the documentation about
            debugging ASP .NET files.
        -->
		<compilation defaultLanguage="c#" debug="false">
			<assemblies>
				<add assembly="Microsoft.ContentManagement.Common, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.Publishing, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.Publishing.Extensions.Placeholders, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.Publishing.Extensions.Placeholders.Office, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.Web, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.WebAuthor, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.ContentManagement.WebControls, Version=5.0.1200.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
            Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
            <error> tags for each of the errors you want to handle.
        -->
		<customErrors defaultRedirect="/Web/Templates/ErrorPage.aspx" mode="RemoteOnly"/>
		<!--  AUTHENTICATION 
            This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
            "Passport" and "None"
        -->
		<authentication mode="Windows"/>
		<!--  APPLICATION-LEVEL TRACE LOGGING
            Application-level tracing enables trace log output for every page within an application. 
            Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
            trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
            application trace log by browsing the "trace.axd" page from your web application
            root. 
        -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
            By default ASP.NET uses cookies to identify which requests belong to a particular session. 
            If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
            To disable cookies, set sessionState cookieless="true".
        -->
		<sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=D03;Trusted_Connection=Yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
            This section sets the globalization settings of the application. 
            culture and uiCulture are set to en-GB to initialise cultures as British English. 
        -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
	</system.web>
</configuration>
