.boxtypetwentyfive /* Full itinerary heading row */
{
	width: 602px;
}
.boxtypetwentysix /* Full itinerary journeys */
{
	width: 610px;
}

.ejdetail /* Full itinerary journeys table */
{
	width: 610px;
}
