<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="propertyservice.applicationid" value="TransactionInjector"/>
	<add key="propertyservice.groupid" value="ReportDataProvider"/>
	<add key="propertyservice.providerassembly" value="td.common.propertyservice.filepropertyprovider"/>
	<add key="propertyservice.providerclass" value="TransportDirect.Common.PropertyService.FilePropertyProvider.FilePropertyProvider"/>
	<add key="propertyservice.providers.fileprovider.filepath" value="C:\TDPortal\Components\TransactionInjectorProperties.xml"/>
  </appSettings>
</configuration>
   
