/* android device - 360px wide*/
div.locationsDiv .locationControl input.locationInput{width:275px;}
div.locationsDiv .locationControl input.locationClear{width:245px;}
div.locationsDiv .locationControl div.ambiguityrow select{padding-top:3px}

div.dateSelect div.setdatebox input.dateEntry{width:150px;}
div.dateSelect div.setdatebox input.dateEntryWithButton{width:115px;}
div.timePicker div.settimebox input.timeInput{width:94px;}
div.timePicker div.settimebox input.timeInputWithButton{width:61px;}

div.advancedOptions div.setAdvancedOptionsBox input.btnAdvancedOptions{width:126px;}

/* Prevent persisted hover touch style */
#datepage div.collapseDate div.day:hover{background-color:#dddddd;color:#444444;text-decoration:none;}
#datepage div.collapseDate div.day input:hover{background-color:#dddddd;color:#444444;text-decoration:none;}
#datepage div.collapseDate div.daySelected:hover{background-color:#3D7291;color:#ffffff;text-decoration:none;}
#datepage div.collapseDate div.daySelected input:hover{background-color:#3D7291;color:#ffffff;text-decoration:none;}
#timepage div.minute:hover{background-color:#dddddd;color:#444444;text-decoration:none;}
#timepage div.minute input:hover{background-color:#dddddd;color:#444444;text-decoration:none;}
#timepage div.timeSelected:hover{background-color:#3D7291;color:#ffffff;text-decoration:none;}
#timepage div.timeSelected input:hover{background-color:#3D7291;color:#ffffff;text-decoration:none;}
div.transportModesDiv div.transportModeRow:hover{background-color:#EEEEEE;color:#555555;}
div.accessibilityOptions div.mobilityOptionRow:hover{background-color:#EEEEEE;color:#555555;}

div.legsDetail div.leg{font-size:0.75em;}
div.legsDetail div.leg div.columnMap{font-size:1.1em;}
.statusInfo{max-width:200px;}

/* Journey leg rows */
div.legsDetail div.leg div.row div.row1 div.columnTimeLabel{width:35px;}
div.legsDetail div.leg div.row div.row1 div.columnTime{width:45px;}
div.legsDetail div.leg div.row div.row1 div.columnNode{width:20px;}

div.legsDetail div.leg div.row div.row2 div.columnMode{width:80px;}
div.legsDetail div.leg div.row div.row2 div.columnLine{width:20px;}

div.legsDetail div.leg div.row div.row2a div.columnTime{width:80px;}
div.legsDetail div.leg div.row div.row2a div.columnNode{width:20px;}

div.legsDetail div.leg div.row div.row3 div.columnTimeLabel{width:35px;}
div.legsDetail div.leg div.row div.row3 div.columnTime{width:45px;}
div.legsDetail div.leg div.row div.row3 div.columnLine{width:20px;}

/* Travel news */
div.travelNews div.news .ui-block-b{width:75%;}
div.undergroundStatus div.undergroundNews .statusColour{width:43%;}
div.undergroundStatus div.undergroundNews .statusInfo{width:47%;}

/* Map */
.mapContainer{height:300px;}
.map{height:300px;}
.copyrightfront{top:374px;}
.copyrightback{top:375px;}

/* to confirm */
div.venues a.venuesLink{padding:7px 10px 7px 10px;}
#venuespage fieldset div.ui-grid-a label{font-size:0.9em;min-height:38px;}
#venuespage fieldset div.ui-grid-a .ui-block-a{float:left;width:45%;}
#venuespage fieldset div.ui-grid-a .ui-block-b{float:left;width:45%;}
div.nowSelect{width:45px;}