.boxtypetwentyfive /* Full itinerary heading row */
{
	width: 594px;
}
.boxtypetwentysix /* Full itinerary journeys */
{
	width: 604px;
}

.ejdetail /* Full itinerary journeys table */
{
	width: 604px;
}
