.sjpContent .bold
{
    font-weight: bold;
}
/* Buttons */
.sjpContent input.btnSmallerPink, .sjpContent input.btnSmallPink
{
    font-size: 1.2em;
    font-weight: bold;
}
.sjpContent input.btnMediumPink
{
    font-size: 1.2em;
    font-weight: bold;
}
.sjpContent input.btnLargePink
{
    font-size: 1.2em;
    font-weight: bold;
}
/* Header - Style Links*/
.sjpFontSmall
{
    font-size:11px;
}
.sjpfontMedium
{
    font-size:12px;
}
.sjpfontLarge
{
    font-size:14px;
}
/* Location Suggest */
div#MainContent div.locationSuggest ul.locationSuggestList li.locationSuggestSelectedItem
{
     font-weight:200;
    
}

/* Journey Planner Input */
div#MainContent div.locationControl input.locationreset
{
    font-weight:bold;   
}

/* Event Calendar */
div#MainContent .eventDateTime div.datetime div.datebox .display
{
    font-weight: normal;
}

div#MainContent .eventDateTime div.datetime div.datebox
{
    font-family:arial;font-size:1em;
}

/* Non Javascript - Calendar - start */
div#MainContent #sjp-calendar-tabs ul.tabbed-headers li input.monthTab
{
    font-size: 1.2em;
    font-weight: bold;
}

/* Journey Options Tabs */
div#MainContent #PageContent div.sjp_jo_tab .sjp_tab_headers ul li input
{
    font-size: 0.9em;
    font-weight: bold;
}
div#MainContent #PageContent div.sjp_jo_tab .sjp_tab_headers ul li a
{
    font-size: 0.9em;
    font-weight: bold;
}

/* drop downs */
/* applied to original <select> to hide */
/* always visible styles */
.selectbox
{
    font-family:arial;
    font-size:1em;
}
.selectbox .display
{
    font-weight:normal;
}
/* dropdown styles */
.selectbox.items
{
  font-family:arial;
  font-size:1em;  
}
/* optgroup styles */
.selectbox.items .optgroup>.label
{
    font-weight:bold;
}

/* Journey Summary */
div.journeySummary div.header
{
    font-size:1.1em;
    font-weight: 400;
}
div.journeySummary div.header div.journeyDirection, 
div.stopEventResult div.header div.journeyDirection
{
    font-size: 1.26em;
    font-weight: bold;
}
div.journeySummary div.leg div.row div.timeArrive,
div.journeySummary div.leg div.row div.timeDepart
{
    font-size:0.8em;
}
div.journeySummary div.leg div.row div.columnMode,
div.journeySummary div.leg div.row div.columnDetail
{
    font-size:0.9em;
}
div.journeySummary div.leg div.legCar div.carLeg div.detail table,
div.journeySummary div.leg div.legCycle div.cycleLeg div.detail table
{
    font-size:0.9em;
}
div.journeySummary div.leg div.row div.row1 div.accessibleLinkDiv
{
    font-size:0.9em;
}

/* Travel News Page */
div#MainContent div.travelnews div.severity div.severityHeading
{
    font-size: 1.36em;
    font-weight: bold;
}
.sjpContent div.travelnews div.impact div.impactHeading
{
    font-size: 1.36em;
    font-weight: bold;
}

div#MainContent div.travelnews div.severity div.tnContainer span.severity
{
    font-weight: bold;
}
div.tnItem div.body div.status,
div.tnItem div.body .highlight
{
    font-weight: bold;
}
div#MainContent div.tnItem div.body div.summary input.linkButton
{
    font-size: 1em;
    font-weight: bold;
}

/* SJP right hand side box */
div#page-2012 div.sidebar-right-2012 div.sjp-stp-side-box h2 {
    font-size: 1.2em;
}

div#page-2012 div.sidebar-right-2012 .sjp-stp-side-box-content div.sjp-stp-side-box-go-button div.link
{
    font-size: 1.2em;
    font-weight: bold;
}

/* Journey Locations */
div.JourneyLocations div.preferredParks span.label,
div.JourneyLocations div.parkAndRideTimeSlot span.label, 
div.JourneyLocations div.typeOfRoute span.label, 
div.JourneyLocations div.serviceRoutes span.label
{
    font-size: 1.1em;
}

/* Detail leg Retail handoff links and the journey web note links */
a.travelNotesLink, a.bookTicketInfo, a.bookTicketLink
{
    font-size: 1.1em;
}

/* Generic Promo Widget */
div#page-2012 div.sidebar-right-2012 div.stp-side-box div.angle-button-image div.link a 
{
    font-size: 1.2em;
    font-weight: bold;
}

/* Travel News widget */
div#page-2012 div.sidebar-right-2012 div.sjp-stp-side-box div.travelNewsWidget div.navigation
{
    font-size: 1.1em;
}

/* Further Accessibility page */
div.mapInfo
{
    font-weight: bold;
}
div.stopSelection .accissibleStopType, 
div.stopSelection .stopSelectInfo
{
    font-weight: bold;
}

div.selectedJourney div.row span.label
{
    font-weight: bold;
}

/* Journey Results - Service Number and the Frequency duration (i.e. Every 10 mins) */

span.servicenumber, span.frequencyduration
{
    font-weight: bold;
}



